@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B0F19;
  --foreground: #F8FAFC;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hardened laser scanning animation for our components */
@keyframes scan {
  0% { top: 0%; }
  50% { top: 100%; }
  100% { top: 0%; }
}